<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Elektroniczny dziennik ocen">

    <title>Elektroniczny dziennik ocen</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>

</head>

<body>

    <!-- Navigation -->
    <nav th:replace="layouts/navigation :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">
        <div layout:fragment="content"></div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>

</html>