<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">

<div layout:fragment="content">
    <h1 class="text-center mt-3">Dodaj nowego ucznia</h1>
    <hr/>
    <form th:action="@{/uczniowie/save}" th:object="${uczen}" method="post">
        <div class="form-group">
            <label for="imie">Imię</label>
            <input type="text" class="form-control" id="imie" name="imie" th:field="*{imie}" required/>
        </div>
        <div class="form-group mt-3">
            <label for="nazwisko">Nazwisko</label>
            <input type="text" class="form-control" id="nazwisko" name="nazwisko" th:field="*{nazwisko}" required/>
        </div>
        <div class="form-group mt-3">
            <label for="klasa">Klasa</label>
            <select class="form-control" id="klasa" name="klasa" th:field="*{klasa}">
                <option value="" th:text="'Wybierz klasę'" disabled selected></option>
                <option th:each="klasa : ${klasy}" th:value="${klasa.id}" th:text="${klasa.nazwaKlasy}"></option>
            </select>
        </div>
        <div class="form-group mt-3 text-right">
            <button type="submit" class="btn btn-primary">Zapisz</button>
            <a class="btn btn-secondary" th:href="@{/uczniowie/}">Anuluj</a>
        </div>
    </form>
</div>
</html>
