<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">

<div layout:fragment="content" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead">
            Przepraszamy, nie udało się odnaleźć żądanego rekordu...
            Kliknij <a href="/movie/">tutaj</a>, aby wrócić do listy filmów.
        </h2>
    </div>
</div>
</html>